
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* boostrap form style */
.custom-container h5 {
  margin-top: 20px !important;
  margin-left: 20px !important; /* Adjust the value as needed */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}