
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* boostrap form style */
.custom-container h5 {
  margin-top: 20px !important;
  margin-left: 20px !important;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.center.profile {
  margin-top: 0.5rem;
  margin-left: 1.7rem;
}

.button-container.profile {
  justify-content: center;
}